/*
Style Sheet 
Site        : Italy's Best
Description : Portfolio site.
Author      : Jason Whitcher
*/

/*
Flex: header menu, footer, home page.
Grid: lunch menu page.
*/

/*
scss variables
*/

$ib-phone:      640px;
$ib-tablet:     768px;
$ib-desktop:    1024px;

$ib-color-text-dark:    #222222;
$ib-color-text-light:   #666666;

$ib-color-primary:      #ff8800 ;
$ib-color-secondary:    #19ff44;
$ib-color-accent:       #5714cc;
$ib-color-bg-alternate: #e6e6e6;
$ib-font:               Open Sans;

$ib-background-image-opacity: 0.4;

/*
Default resets
*/
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $ib-font;
    font-size: 22px;
    color: $ib-color-text-dark;
}
article {
    margin: 2px;
}
@media screen and (min-width: $ib-tablet) {
    article {
        margin: 20px;
    }
}
a {
    text-decoration: none;
    color: $ib-color-accent;
    &:hover {
        color: $ib-color-primary;
    }
}
input[type="button"],
input[type="submit"] {
    font-size: inherit;
    background-color: $ib-color-primary;
    color: $ib-color-text-dark;
    margin: 0.2em 0;
    padding: 0.2em 0.4em;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    &:hover {
        background-color: $ib-color-secondary;
    }
}

/*
Template: Header, Footer, Navigation
*/

// Header
header {
    display: block;
    height: 300px;
    width: 100%;
    position: relative;
    &:after {
        content: ' ';
        background-image: url('../images/header-image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px -60px; // Customized for this specific image.
        background-attachment: fixed;
        position: absolute;
        top: -60px; // Customized for this specific image.
        bottom: 0;
        left: 0;
        right: 0;
        opacity: $ib-background-image-opacity;
        z-index: -1;
    }
}

nav.ib-menu-main {
    display: block;
    height: 1.5em;
    width: 100%;
    a#ib-menu-mobile-button-open-anchor {
        div.ib-menu-mobile-button { // The mobile menu button.
            height: 50px;
            width: 50px;
            div {
                margin: 8% 0;
                padding: 0;
                height: 25%;
                background-color: #5714cc;
                border-radius: 5px;
            }
        }
    }
    div#ib-menu-container {
        display: none;
        width: 75%;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: $ib-color-primary;
        z-index: 10;
        // Display the menu.
        animation-name: ib-menu-mobile-show;
        animation-duration: 0.5s;
        a#ib-menu-mobile-button-close-anchor {
            height: 40px;
            width: 40px;
            padding-left: 10px;
            font-size: 40px;
            font-weight: bold;
            text-decoration: none;
        }
        ul {
            list-style-type: none;
            li {
                color: #5714cc;
            }
            .ib-menu-item-parent {
                position: relative;
                display: inline-block;
                .ib-menu-sub {
                    display: block;
                    position: relative;
                    top: 0px;
                    left: 0px;
                    z-index: 1;
                    ul {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    } // div#ib-menu-container
    #ib-menu-container:target {
        display: block;
    }
} // nav.ib-menu-main

// Animation for mobile menu.
@keyframes ib-menu-mobile-show {
    0% {left: -100px; opacity: 0; z-index: -1;}
    100% {left: 0px; opacity: 1; z-index: 1;}
}

@media screen and (min-width: $ib-tablet) {
    nav.ib-menu-main {
        width: 100%;
        //z-index: 10;
        a#ib-menu-mobile-button-open-anchor {
            display: none;
        }
        div#ib-menu-container {
            display: block;
            width: inherit;
            background: none;
            animation: none;
            a#ib-menu-mobile-button-close-anchor {
                display: none;
            }
            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin: 0;
                padding: 0;
                width: inherit;
                & > li {
                    height: 1.5em;
                    width: 22%;
                    text-align: center;
                    background-color: $ib-color-secondary;
                }
                .ib-menu-item-parent {
                    &:hover .ib-menu-sub {
                        display: block;
                    }
                    .ib-menu-sub {
                        display: none;
                        background-color: $ib-color-secondary;
                        ul {
                            li {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Footer
.ib-dinning-award-container {
    display: flex;
    flex-basis: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid gray;
    border-width: 1px 0px;
    .ib-dinning-award {
        height: 100px;
        width: 100px;
        margin: 3px 5px;
        background-repeat: no-repeat;
        background-size: contain;
        &:nth-of-type(1) {
            background-image: url('../images/award-01.png');
        }
        &:nth-of-type(2) {
            background-image: url('../images/award-02.png');
        }
        &:nth-of-type(3) {
            background-image: url('../images/award-03.png');
        }
    }
}
.ib-menu-footer {
    background-color: $ib-color-bg-alternate;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 4em;
        margin: 0px;
        padding-left: 0px;
        li{
            width: 15em;
            list-style-type: none;
            a {
                display: inline-block;
                width: 98%;
                text-align: center;
                text-decoration: none;
                color: $ib-color-accent;
                &:hover {
                    color: $ib-color-primary;
                }
            }
        }
    }
}

@media screen and (min-width: $ib-phone) {
    .ib-menu-footer {
        ul {
            flex-direction: row;
        }
    }
}

/*
Content Styles
*/

// Home page
.ib-home-content-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    width: 100%;
    position: relative;
    margin: 50px 0px; 
    text-align: center;
    &:after {
        content: ' ';
        background-image: url('../images/home-pic-01.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: $ib-background-image-opacity;
        z-index: -1;
    }
    * {
        margin: 0px auto;
    }
    ul {
        list-style: none;
        li {
            padding: 15px;
        }
    }
}
#ib-home-were-great {
    &:after {
        background-image: url('../images/home-pic-01.jpg');
    }
}
#ib-home-family-experience {
    &:after {
        background-image: url('../images/home-pic-02.jpg');
    }
}
#ib-home-serving-since {
    &:after {
        background-image: url('../images/home-pic-03.jpg');
    }
}
#ib-home-testimonials {
    &:after {
        background-image: url('../images/home-pic-04.jpg');
    }
}

// Menu pages
.ib-food-menu-item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas:
        "title"
        "image"
        "price"
        "nutrition"
        "description";
    grid-gap: 5px 5px;
    .ib-food-menu-item-part {
        margin: 0;
        padding: 0;
    }
    .ib-food-menu-item-title {
        grid-area: title;
        align-self: end;
    }
    .ib-food-menu-item-price {
        grid-area: price;
    }
    .ib-food-menu-item-nutrition {
        grid-area: nutrition
    }
    .ib-food-menu-item-description {
        grid-area: description
    }
    .ib-food-menu-item-image {
        grid-area: image;
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    #ib-food-menu-item-image-spaghetti {
        background-image: url('../images/meal-01.jpg');
    }
    #ib-food-menu-item-image-fettuccine-alfredo {
        background-image: url('../images/meal-02.jpg');
    }
}
@media screen and (min-width: $ib-tablet) {
    .ib-food-menu-item {
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "title          ."
            "price          image"
            "nutrition      image"
            "description    description";
        }
}

// Contact page
/* Style for Address */
.ib-contact-address {
    address {
        
    }
}

/* Styles for Google map API */
.ib-contact-google-map {
    height: 400px;
    width: 98%;
}
/* Styles for Contact Form */
#ib-contact-form {
    width: 100%;
    * {
        display: block;
    }
    label {
        margin-top: 0.5em;
        color: $ib-color-text-light;
    }
    input[type='text'],
    input[type='email'],
    textarea {
        width: 30em;
        max-width: 100%;
        margin-bottom: 0.5em;
        padding: 3px;
        border: $ib-color-text-dark 1px solid;
        border-radius: 3px;
        font-size: 0.8em;
    }
    input {
        
    }
    textarea {
        width: 100%;
        height: 5em;
        max-width: 640px;
        
    }
    input[type="submit"] {
        display: inline-block;
    }
    #ib-contact-loader-message {
        display: none;
    }
    #ib-contact-ajax-message {
        display: inline-block;
    }
}

// contact form loader message animation
.ib-contact-loader-container {
    display: block;
    height: 1.0em;
    width: 1.0em;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $ib-color-primary;
    border-color: $ib-color-primary transparent $ib-color-primary transparent;
    animation: ib-contact-loader-animation 1.5s ease-in-out infinite;
}
@keyframes ib-contact-loader-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
